.faq{
    padding: 5.6vw;

    &__questions{

        &__item{
            background-color: #13151d;
            margin-bottom: 16px;

            &__question{
                color: #ffff;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                &::after{
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    font-size: 40px;
                    align-items: center;
                    z-index: 1;
                }
            }
            
            &__answer{
                overflow: hidden;
                height: 0;
                padding: 0 24px;
                transition: height, .5s ease;
            }

            &--is-open{
                .faq__questions__item__question::after{
                    content: '-';
                }

                .faq__questions__item__answer {
                height: auto;
                padding-top: 24px;
                padding-bottom: 24px;
                transition: height, .5s ease;

            }
            }
        }
    }

}