@use 'hero';
@use 'variaveis';

@font-face{
    font-family: Avenir;
    src: url(../../fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../../fonts/Avenir-Bold.woff2);
    font-weight: 700;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin tittle($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.link-text{
    @include text(18px);
    color: variaveis.$corTextoSecundario;
}

html, body{
    height: 100%;
    background-color: variaveis.$corFundo;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Avenir, sans-serif;

}
.text--big{
    @include text(18px);
}

.text{
    @include text;
}

.text--small{
    @include text(12px)
}

.tittle-big{
    @include tittle(44px)
}

.tittle{
    @include tittle;
}

.tittle--small{
    @include tittle(28px);
}