@use 'hero';
@use 'variaveis';
@use 'shows';
@use 'plans';
@use 'devices';


@font-face{
    font-family: Avenir;
    src: url(../../fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../../fonts/Avenir-Bold.woff2);
    font-weight: 700;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin tittle($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.link-text{
    @include text(18px);
    color: variaveis.$corTextoSecundario;
}

html, body{
    height: 100%;
    background-color: variaveis.$corFundo;
    min-height: 100vh;
    overflow-x: hidden;

}
.text--big{
    @include text(18px);
}

.text{
    @include text;
}

.text--small{
    @include text(12px)
}

.tittle-big{
    @include tittle(44px)
}

.tittle{
    @include tittle;
}

.tittle--small{
    @include tittle(28px);
}

.button-link{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;
}

.image-text-section{
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    img{
        max-width: 100%;
        justify-self: end;
    }

    

    &__text__container{
        padding: 0 2vw;
        h2{
            margin-bottom: 24px;
        }
        p, h2{
            text-align: left;
        }
    }

    &--image-full{
        display: block;
        position: relative;
        overflow: hidden;

        img{
            width: 100%;
            height: auto;
        }

        &__text__container{
            position: absolute;
            top: 50%;
            transform: translateY(-56%);
            left: 50%;
            padding-right: 5.6vw;

            width: calc(50% - 5.6vw);
            text-align: left;
            
        }

    }
}